
{% extends 'core/base.html' %}

{% block title %}

Meu cadastro

{% endblock %}



{% block content %}

    <h1 class="text-2xl">Minha loja </h1>
    <a href="{% url 'add_product' %}" class="mt-6 inline-block py-4 px-8 bg-green-500">Adcionar Produtos</a>
    <h2 class="mt-6 text-xl">Meus Produtos </h2>


    {% if request.user.products.all %}
        <div class="flex flex-wrap">
        {% for product in request.user.products.all %}
            <div class="product w-1/3 p-2">
                <div class="p-4 bg-gray-50" style="width: 200px; height: 250px; position: relative;">
                    <a href="{% url 'edit_product' product.id %}">
                        {% if product.image %}
                            <div class="image" style="position: absolute; top: 0; left: 0; width: 100%; height: 80%;">
                                <img src="{{ product.image.url }}" alt="Foto produto {{ product.image.url }}" class="max-w-full max-h-full">
                            </div>
                        {% endif %}
                        <div class="details" style="position: absolute; bottom: 0; left: 0; width: 100%; height: 20%;">
                            <h2 class="text-xl">{{ product.title }}</h2>
                            <p class="text-xm text-blue-600">€ {{ product.get_display_price}}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <iframe src="https://giphy.com/embed/FwMKXv1DQfZwn56lJO" width="280" height="184"
                frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <p class="mt-4 py-4 px-8 bg-gray-300">Você ainda não tem produtos em sua lista.</p>
    {% endif %}
{% endblock %}
