{% extends 'core/base.html' %}

{% block title %}Cadastrar novo usuário{% endblock %}

{% block content %}
    <div class="cadastro">
        <h1 class="text-4xl text-white text-center py-4 mb-5 mt-5 bg-green-600">Registar novo usuário</h1>
    </div>

    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <button type="submit" class="bg-blue-500 hover:bg-green-500 text-white rounded-lg px-4 py-2 mx-auto block mt-5">
                Registrar
            </button>
        </form>
    </div>
{% endblock %}
