{% extends 'core/base.html' %}

{% block title %}Estatísticas{% endblock %}

{% block content %}
    <div class="statistic-title">
        <h1 class="text-4xl text-black text-center py-6 mb-5 bg-green-100">Estatísticas</h1>
    </div>

    <div class="chart-container">
        <div class="top-products-chart">
            <h2 class="text-2xl mt-10">Produtos Mais Vendidos</h2>
            <div id="top-products-chart"></div>
        </div>

        <div class="category-sales-chart ">
            <h2 class="text-xl mt-10">Porcentagem de Vendas por Categoria</h2>
            <div id="category-sales-chart"></div>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawTopProductsChart);
        google.charts.setOnLoadCallback(drawCategorySalesChart);

        function drawTopProductsChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Produto');
            data.addColumn('number', 'Quantidade Vendida');
            data.addRows([
                {% for product in top_products %}
                ['{{ product.title }}', {{ product.total_quantity }}],
                {% endfor %}
            ]);

            var options = {

                width: 600,
                height: 400,
                legend: {position: 'none'},
                vAxis: {title: 'Quantidade Vendida'},
                hAxis: {title: 'Produto'},
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('top-products-chart'));
            chart.draw(data, options);
        }

        function drawCategorySalesChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Porcentagem');
            data.addRows([
                {% for category in categories %}
                ['{{ category.title }}', {{ category.percentage }}],
                {% endfor %}
            ]);

            var options = {

                width: 600,
                height: 400,
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('category-sales-chart'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}
