{% extends "admin/base.html" %}

{% comment %} {% load i18n  eatn_tags static %} {% endcomment %}

{% load i18n %}

{% load static %}


{% block title %}{% trans "SHOP ADMIN " %}{% endblock %}

{% block extrastyle %}

    <link rel="stylesheet" type="text/css" href="{% static 'admin/admin_color.css' %}"/>
{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans "Tokio Shop 2.0 | ADMIN" %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

<div id="content" class="{% block coltype %}colM{% endblock %}">
    {% block content_title %}{% if title %}<h1>Administração da loja</h1>{% endif %}{% endblock %}

      <br class="clear">
    </div>
{% block content_subtitle %}
    <div style=" font-size: 14px; background: crimson; min-height: 35px ;  display: flex; align-items: center;">
        <a href="http://127.0.0.1:8000/admin_statistics/" style="margin-left: 8px; color: white;">ESTATÍSTICAS E DADOS</a>
    </div>
    <div style="background: black;  margin-botton: 12px; min-height: 35px !important; display: flex; align-items: center; margin-bottom: 30px;">
        <a href="http://127.0.0.1:8000/admin_statistics/" style="color: white; margin-left: 8px;">Dados estatísticos da loja</a>
    </div>
{% endblock %}


