{% load menu %}


<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - 2.0</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<div class="wrapper">
  <nav class="max-w-8xl mx-auto py-4 px-6 flex items-center justify-between bg-black mt-1">
      <div class="logo ml-4 mr-4">
          <a href="/" class="text-2xl text-white"><img src="/media/logo/tokio_shop.png" width="90" height="90"></a>
      </div>

      <div class="flex">
          <form method="get" action="/search/" class="flex items-center space-x-3">
              <input type="search" name="query" placeholder="Search" class="py-2 px-3 rounded -xl">
              <button class="bg-transparent text-yellow-500 justify-center">
                  <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                      <path d="M17.72 16.31l4.67 4.68a1 1 0 0 1-1.41 1.41l-4.68-4.67a8 8 0 1 1 1.42-1.42zM11 16a5 5 0 1 0 0-10 5 5 0 0 0 0 10z"/>
                  </svg>
              </button>
          </form>
      </div>

      <div class="menu flex items-center space-x-4">
          {% menu %}

          <a href="{% url 'cart_view' %}" class="py-2 px-3 bg-orange-400 rounded-xl hover:bg-orange-800 text-2xs text-white">
              <i class="fas fa-shopping-cart mr-1"></i> Meu carrinho {{ cart|length }}
          </a>

          {% if request.user.is_authenticated %}
          <a href="{% url 'my_account' %}" class="py-2 px-3 bg-orange-400 rounded-xl hover:bg-orange-800 text-2xs text-white">My account</a>
              {% if request.user.userprofile.is_vendor %}
                  <a href="{% url 'my_shop' %}" class="py-2 px-3 bg-orange-400 rounded-xl hover:bg-orange-800 text-2xs text-white">My Shop</a>
              {% endif %}
          {% endif %}
      </div>
  </nav>

  <div class="max-w-4xl mx-auto py-4 px-6">
    {% block content%}

    {% endblock%}
  </div>

</div>
{% block scripts %}

{% endblock %}

</body>

</html>
