{% extends 'core/base.html' %}

{% block title %}
    Tokio Shop
{% endblock %}

{% block content %}
    {% include 'shop/partials/products.html' %}

    <div class="pagination text-center mt-5">
        {% if products.has_previous %}
            <a href="?page=1" class="text-2xl mr-2">&#8592;</a>
            <a href="?page={{ products.previous_page_number }}" class="text-2xl mr-2">&#8249;</a>
        {% endif %}

        <span class="current-page">{{ products.number }}</span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}" class="text-2xl ml-2">&#8250;</a>
            <a href="?page={{ products.paginator.num_pages }}" class="text-2xl ml-2">&#8594;</a>
        {% endif %}
    </div>
{% endblock %}
